

*{
  font-family: "futura-pt";
  font-size: 28px;
  user-select: none;
}


body{
  display: flex;
  --base-color                : #379712;
  --base-background-color     : #fff;
  --base-letter-color         : #000;
  --base-background-box-color : #d9d6d67c;
  --base-background-dark-box-color : var(--base-background-box-color);
  --base-image-drop-shadow    : drop-shadow(0px 0px 8px rgb(255, 255, 255));
  --base-button-font-size     : 15px;
  --base-error-msg-font-size       : 20px;
  --base-input-font-size       : 25px;
  color : var(--base-letter-color);
  background-color:  var(--base-background-color);
  transition-property: background-color color;
  transition-duration: .2s;
}

.dark{
  --base-background-color : #22252e;
  --base-background-box-color : #b3aeae;
  --base-letter-color : #dadada;
  --base-background-dark-box-color : #2f333f;
}

.centered-container{
  /*
  * Para pages de poco contenido que deben ser 
  * renderizados en el centro de la pantalla
  */
  min-width: 100vw;
  max-width: auto;
  min-height: 100vh;
  max-height: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





input , textarea{
  outline: 1px solid #949393;
  padding: .2rem;
  border-radius: 5px;
  -webkit-border-radius:5px; 
  transition-property:  outline;
  transition-duration: .2s;
  border: none;
  background-color : var(--base-background-box-color);
  font-size: var(--base-input-font-size);
}
input:focus, textarea:focus{
  outline: 1px solid var(--base-color);
}
input::placeholder{
  font-size: var(--base-error-msg-font-size);
  color : #000  !important;  
  opacity: .7   !important  ;
}
.toast-style{
  border : 1px solid var(--base-letter-color) !important;
  background-color : var(--base-background-color) !important;
  color : var(--base-letter-color) !important;
  width: 30vw;
}


.toast-style > div[data-content] > div[data-title]{
  font-size : var(--base-input-font-size) !important;
}
.toast-style > div[data-content] > div[data-description]{
  font-size : var(--base-error-msg-font-size) !important;
}




@media screen and (max-width : 575px){
    body{
      --base-button-font-size : 13px;
      --base-input-font-size : 16px;
      --base-error-msg-font-size : 14px;
    }
}

@media screen and (max-width : 300px){
    body{
      --base-button-font-size : 10px;
      --base-input-font-size : 13px;
      --base-error-msg-font-size : 10px;
    }
}
@media screen and (max-width : 175px){
    body{
      --base-button-font-size : 6px;
      --base-input-font-size : 9px;
      --base-error-msg-font-size : 7.2px;
    }
}
.scrollbar-container{
  scrollbar-width: thin;
}

.icon{
  user-select: none;
}
.not-displayed{
  display: none;
}
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

@media (prefers-color-scheme: dark) {
    input {
      box-shadow : none !important;
    }

}