
.button{
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    --outline-width : 2px;
    --hovered-color :  rgb(212, 212, 212);
    font-size: var(--base-button-font-size);
    border: none;
    border-radius: 5px;
    height: auto;
    width: auto;
    max-height: 8vh;
    padding: .4rem;
    background-color : var(--base-background-box-color);
    outline: var(--outline-width) solid var(--base-color);
    font-weight: 500;
    color : #000;
    cursor: pointer;
}


.button-container{
    display: flex;
    justify-content: center;
}


.button_hovered{
    background-color : var(--hovered-color);
}


@media screen and (min-width : 1000px){
    .button:hover{
        background-color : var(--hovered-color);
    }
}
.submit_button{
    background-color : var(--base-color);
}
.submit_button:hover{
    --submit-button-hovered :#43b417;
    background-color : var(--submit-button-hovered);
    outline: var(--outline-width) solid var(--submit-button-hovered);
}

@media screen and (max-width : 575px){
    .button{
        padding: .3rem;
    }
}
@media screen and (max-width : 175px){
    .button{
        padding: .2rem;
    }
}
