
.button{
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    --outline-width : 4px;
    font-size: var(--base-button-font-size);
    border: none;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
    width: auto;
    max-height: 8vh;
    padding: .4rem;
    transition-property: outline border;
    transition-duration: .2s;
    box-shadow: 3px 2px 10px;
    background-color : var(--base-background-box-color);
    outline: var(--outline-width) solid var(--base-color);
    font-weight: 500;
    color : #000;
}

.button:hover, .button_hovered{
    background-color: rgb(145, 214, 126);
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    outline: var(--outline-width) solid var(--base-color);
}
.button-container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width : 575px){
    .button{
        padding: .2rem;
    }
}





@media screen and (max-width : 175px){
    .button{
        padding: .2rem;
    }
}

