

.chat-photo-container{
    --size : 1.5em;
    width: var(--size);
    height: var(--size);
    border-radius : 100%;
    display: flex;
    align-items : center;
    justify-content: center;
    cursor : pointer;
}

.chat-photo-container > *{
    width: inherit;
    height: inherit;
    box-shadow: 0px 0px 0px 2px var(--base-letter-color);
    border-radius : 100%;
    user-select: none;
    overflow: hidden;
    pointer-events: none;

}


.chat-photo{
    object-fit: cover;;
}


.chat-photo-nophoto{
    display: flex;
    justify-content: center;
    align-items : center;
}

.chat-photo-nophoto > *{
    font-size: var(--user-list-font-size);
}

.big-photo{
    --size : 3em;
}

@media screen and (max-width : 300px){
    .chat-photo-container{
        --size : 1em;
    }

}
@media screen and (max-width : 575px){
    .big-photo{
        --size : 2em;
    }

}
@media screen and (max-height : 700px){
    .big-photo{
        --size : 2em;
    }

}
@media screen and (max-height : 500px){
    .big-photo{
        --size : 1em;
    }

}
