.clicked-user-header-container{
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: var(--base-background-dark-box-color);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    transition-property: background-color color;
    transition-duration: .2s;
}

.clicked-user-header-container > .chat-photo-container{
    margin: 1em;
}
.clicked-user__username{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.clicked-user__typing{
    margin-top: 10px;
    height: 3vh;
    display: flex;
    justify-content: start;
    align-items : center;
    font-size: var(--base-button-font-size);
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
}

.clicked-user__typing__activated{
    opacity: 1;
}
.back-chat-button{
    display: flex;
    align-items: center;
}
.back-chat-button > *{
    font-size: var(--base-input-font-size);
    margin: 0 .5em 0 1em;
    cursor: pointer;
}


.clicked-user-online{
    opacity: 0;
    font-size: inherit;

    transition: none;
}

.clicked-user-online__activated{
    opacity: 1;

    transition-property: opacity;
    transition-duration: .3s;
}

@media screen and (max-width : 450px){
    .clicked-user-header-container > .chat-photo-container{
        margin: .6em;
    }
    .clicked-user__username{
        font-size: 18px;
    }
}

@media screen and (max-width : 200px){
    .clicked-user-header-container > .chat-photo-container{
        display: none;
    }
    .clicked-user__username-container{
        margin-left: .3em;
    }
}

@media screen and (max-width : 300px), (max-height : 400px){
    .clicked-user__username{
        font-size: 13px;
    }
}

@media screen and (max-width : 150px){
    .clicked-user__username{
        font-size: 8px;
    }
}
@media screen and (max-width : 500px), (max-height : 700px){
    .clicked-user-header-container > .big-photo{
        --size : 2em;
    }

}
@media screen and (max-width : 250px), (max-height : 500px){
    .clicked-user-header-container > .big-photo{
        --size : 1em;
    }

}