.dark-mode-button__container {
    width: 3vw;
    height: auto;
    cursor : pointer;
    position: absolute;
    top : 20px;
    right: 30px;
    filter : var(--base-image-drop-shadow);
}

@media screen and (max-width : 1000px){
    .dark-mode-button__container{
        width: 5vw;
    }
}

@media screen and (max-width : 500px){
    .dark-mode-button__container{
        width: 7vw;
    }
}

@media screen and (max-width : 300px){
    .dark-mode-button__container{
        width: 25px;
        right: 10px;
        top: 10px;
    }
}






