.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items : center;
    margin-bottom : 20px;
    margin-top : 10px;
    width: 100%;
    gap: 30px;
}

.buttons-container > *:first-child{
    margin-left: 30px;
}

@media screen and (max-width : 500px){
    .buttons-container{
        margin-top: 50px;
        justify-content: center;
    }
    .buttons-container > *:first-child{
        margin-left:0;
    }
}
@media screen and (max-width : 380px){
    .buttons-container{
        flex-direction: column;
    }
}


.users-interface-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.users-interface-container > *{
    margin : 0 10px 0 10px;
    border-radius :10px;
    border : 1px solid var(--base-letter-color);
}


.small-interface > *{
    width: 100%;
}