.loader{
    display: flex;
    justify-content : center;
    opacity: 0;
}
.loader__activated{
    opacity: 1;
}

.loader > *{
    width:80px;
}
.big-loader > *{
    width: 100px;
}
.superbig-loader > *{
    width: 100px;
}

@media screen and (max-width : 1000px){
    .loader > *{
        width:60px;
    }
    .big-loader > *{
        width: 120px;
    }
    .superbig-loader > *{
        width: 150px;
    }
}

@media screen and (max-width : 600px){
    .loader > *{
        width:60px;
    }
    .big-loader > *{
        width: 90px;
    }
    .superbig-loader > *{
        width: 150px;
    }
}




@media screen and (max-width : 300px){
    .loader > *{
        width:40px;
    }
    .big-loader > *{
        width: 70px;
    }
    .superbig-loader > *{
        width: 100px;
    }
}


