.messages-container{
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scroll-loader-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 999;
    top : -20%;
    transition-property: top;
    transition-duration: .5s;
    transition-delay: .5s;
}

.scroll-loader-container__activated{
    top: 0;
}



.messages-list-container{
    position: relative;
    display: flex;
    padding-right: 5px;
    flex-direction: column;
    height: auto;
    width: 98%;
    overflow: scroll;
    scroll-behavior: smooth;
    min-height: 100%;
}
.messages-container__title{
    text-align: center;
}

@media screen and (max-width : 900px){
    .messages-container__title{
        font-size: 20px;
    }
    .messages-list-container{
        width: 95%;
    }
}
@media screen and (max-width : 700px){
    .messages-container__title{
        font-size: 15px;
    }

}

@media screen and (max-width : 500px){
    .messages-container__title{
        font-size: 12px;
    }
    .messages-list-container{
        width: 90%;
    }
}


