.message-sending-input-container{
    display: flex;
    justify-content: center;
    align-items : center;
    height: 10vh;
}
.message-counter{
    display: flex;
    justify-content: center;
    width: 3vw;
    font-size: 10px;
    align-self: center;
    margin-left: 20px;
}

@media screen and (max-width : 400px){

    .message-counter{
        font-size: 6px;
    }
}
@media screen and (max-height : 500px){
    .message-sending-input{
        padding: 0;
    }
}
.message-sending-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-sending-input:focus{
    padding-left: 10px;
}

