.message-sending-input-container{
    display: flex;
    justify-content: center;
    align-items : center;
    height: 100%;
    max-height: 20vh;
    position: relative;
}

.message-sending-input{
    position: relative;
    max-height:  50%;
    width: 100%;
    resize: none;
    font-size: var(--base-error-msg-font-size);
}
.message-sending-input:focus{
    box-shadow : none;
}
.message-sending-input::placeholder{
    font-family: "futura-pt";
    opacity: .3;
    text-align: center;
}



.message-sending-form{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.sending-msg-button{
    cursor : pointer;
    padding: .7em;
    font-size: var(--base-input-font-size);
}

@media screen and (max-width : 1200px){
    .message-sending-form{
        width: 50%;
    }
}


@media screen and (max-width : 500px){
    .message-sending-form{
        width: 70%;
    }
}




