.message-content{
    font-size: var(--base-button-font-size);
    margin-bottom: 5px;
}
.message{
    color : #000;
    margin-top: 5px;
    padding: 1vw;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
    max-width: 25vw;
    overflow-wrap: break-word;
}
.session-msg{
    align-self: flex-end;
    border-bottom-right-radius: 0px;
}


.not-session-msg{
    background-color : rgb(77, 144, 77);
    align-self: flex-start;
    border-bottom-left-radius: 0px;
}

.message-date{
    font-size: 12px;
}


@media screen and (max-width : 575px){
    .message-date{
        font-size: 8px;
    }
}
@media screen and (max-width : 400px){
    .message{
        padding: 1.5vw;
    }
}
@media screen and (max-width : 300px){
    .message-date{
        font-size: 5px;
    }
}