.message-content{
    font-size: var(--base-button-font-size);
    margin-bottom: 5px;
    user-select: text;
}
.message{
    color : #000;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
    max-width: 25vw;
    overflow-wrap: break-word;
    cursor: pointer;
}
.session-msg{
    align-self: flex-end;
    border-bottom-right-radius: 0px !important;
}


.not-session-msg{
    background-color : rgb(77, 144, 77, 0.95);
    align-self: flex-start;
    border-bottom-left-radius: 0px !important;
}

.message-date{
    font-size: 12px;
    opacity: .4;
}

@media screen and (max-width : 700px){
    .message{
        max-width: 35vw;
    }
}


@media screen and (max-width : 575px){
    .message{
        border-radius: 5px;
        max-width: 50vw;
    }
    .message-date{
        font-size: 8px;
    }
}

@media screen and (max-width : 300px){
    .message{
        padding: 5px;
    }
    .message-date{
        font-size: 5px;
    }
}