
.modal-container{
    border-radius : 0px !important;
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0);
    transition-property: opacity  ;
    transition-duration: .2s;
}
.modal-container__activated{
    display: flex;
    justify-content: center;
    align-items : center;
}


