
.individual-notification-container{
    font-size: var(--base-input-font-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius :1em;
    width: 100%;
    height: auto;
    max-height: 4em;
    padding: .5em .8em;
    background-color : #c3c2c2;
    margin-bottom: .4em;
    transition-property: max-height ,transform, padding, margin;
    transition-duration: .18s;
}

@media screen and (max-width : 575px){
    .individual-notification-container{
        padding: 1em 1.4em;
    }
}

.individual-notification-content{
    width: 100%;
    text-align: left;
    font-size: var(--base-input-font-size);
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.individual-notification-delete-btn {
    display: flex;
    align-items : center;
    border: none;
    background-color: transparent;
    padding: 0 .5em;
    cursor: pointer;
}




.individual-notification-delete-btn > *{
    font-size: var(--base-input-font-size);
    transition-property: filter;
    transition-duration: .2s;
}

.individual-notification-delete-btn > *:hover{
    filter: drop-shadow(0px 0px 2px #f00);
}

.notification_deleted{
    transform: scale(1,0);
    padding: 0;
    max-height: 0;
    margin: 0;
}
.notification-username{
    font-size: 25px;
}

.notification-content{
    font-size: 20px;
    margin-top: .5em;
    transition-property: margin;
    transition-duration: .18s;
}
.notification-deleted > .notification-content{
    margin-top: 0;
}


@media screen and (max-width : 1200px){
    .notification-username{
        font-size: 20px;
    }

    .notification-content{
        font-size: 14px;

    }

}


@media screen and (max-width : 500px){
    .notification-username{
        font-size: 15px;
    }
    .notification-content{
        font-size: 10px;
    }

}


@media screen and (max-width : 500px){
    .individual-notification-container > .small-photo{
        --size : 1em;
    }
    .individual-notification-container > .small-photo > .chat-photo-nophoto > *{
        font-size: 15px;
    }
}


@media screen and (max-width : 300px){
    .individual-notification-content{
        margin: 0;

    }
    .individual-notification-container .chat-photo-container{
        display: none;
    }
}

@media screen and (max-width : 200px){
    .notification-username{
        font-size: 10px;
    }
    .notification-content{
        font-size: 8px;
    }

}

