

.password-visualization > *{
  height: 100%;
  display: flex;
  align-items : center;
  justify-content: flex-start;
}

.password-visualization > * > *{
  filter : var(--base-image-drop-shadow);
  font-size: var(--base-error-msg-font-size);
  --size : 2em;
  min-width: var(--size);
  max-width: var(--size);
  cursor: pointer;
}
