
.password-visualization{
  --size : 1.3rem;
  min-width: var(--size);
  max-width: var(--size);
  filter : var(--base-image-drop-shadow);
}

.password-visualization:hover{
    cursor: pointer;
}


@media screen and (max-width : 575px){
  .password-visualization{
    --size : 1rem;
  }
}

@media screen and (max-width : 300px){
  .password-visualization{
    --size : .7rem;
  }
}
@media screen and (max-width : 175px){
  .password-visualization{
    --size : .5rem;
  }
}

