
.password-visualization{
  filter : var(--base-image-drop-shadow);
  width: 100%;
  display: inline-flex;
  align-items : center;
  justify-content: flex-start;

}

.password-visualization > *{
  --size : 1.3rem;
  min-width: var(--size);
  max-width: var(--size);
  cursor: pointer;
}



@media screen and (max-width : 575px){
  .password-visualization{
    --size : 2em;
  }
}

@media screen and (max-width : 300px){
  .password-visualization{
    --size : 1em;
  }
}
@media screen and (max-width : 175px){
  .password-visualization{
    --size : .5rem;
  }
}

