.users-list{
    --user-list-font-size : 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
}
.users-list-container{
    height: inherit;
    overflow: scroll;
    display: flex;
    padding-right: .4rem;
    flex-direction: column;
}
.users-list-loader{
    display: flex;
    justify-content : center;
    opacity: 0;
}
.no-users-msg{
    display: flex;
    align-items : center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 .5rem 0 .5rem;
    font-size: var(--user-list-font-size);
}
.users-list-loader__activated{
    opacity: 1;
}

.users-list-loader > *{
    width:3vw;
}


@media screen and (max-width : 1000px){
    .users-list{
        width: 40%;
    }
    .users-list-loader > *{
        width:10vw;
    }
}


@media screen and (max-width : 300px){
    .users-list{
        --user-list-font-size : 12px
    }
    .users-list-loader > *{
        width:15vw;
    }
}

