.user-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    color : var(--base-letter-color);
}


.user-button__username{
    font-size: var(--user-list-font-size);
    font-weight: 500;
}


.user-button-globe{
    background-color : var(--base-color);
    border-radius: 30px;
    width:  8px;
    height: 8px;
    opacity: 0;
}

.user-button-globe__activated{
    margin-left: 10px;
    opacity: 1;
}


.user-button__userphoto-container{
    --size : 1.5em;
    width: var(--size);
    height: var(--size);
    margin-right: .5em;
    border-radius : 100%;
    display: flex;
    align-items : center;
    justify-content: center;
    padding-left: 1em;
}


.user-button__userphoto{
    width: inherit;
    height: inherit;
    object-fit: cover;;
    border-radius : inherit;
    outline: 1px solid var(--base-color);
}


.user-button__selected{
    background-color : var(--base-background-dark-box-color);
}
.user-button-container{
    display: flex;
    border-bottom : var(--base-users-list-border);
    align-items : center;
    cursor : pointer;
}

.user-button-container:hover{
    background-color : var(--base-background-dark-box-color);
}

.userphoto-nophoto{
    font-size: var(--user-list-font-size);
}