.user-filter-container{
    padding: .3rem;
    display: flex;
    flex-direction: column;
}

.users-filter-input{
    font-size: var(--base-user-button-font-size);
}

.users-filter-input::placeholder{
    font-size: var(--base-error-msg-font-size) !important;
}
