.users-list{
    --base-users-list-border :1px solid var(--base-letter-color);
    --user-list-font-size : 20px;
    display: flex;
    flex-direction: column;
}

.loader-container{
    opacity: 0;
    padding: .3rem 1rem ;
    display: flex;
    align-items : center;
    justify-content: center;
}

.loader-container__activated{
    opacity: 1;
}



.loading-text{
    font-size: var(--base-button-font-size);
}

.users-list > :first-child{
    box-shadow : 0px 0px 0px 0px !important;
    border-radius : var(--base-interface-radius) !important;
    border-bottom-left-radius:  0 !important;
    border-bottom-right-radius: 0 !important;
}
.users-list-container{
    height: inherit;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    border-top : var(--base-users-list-border);
}

.no-users-msg{
    display: flex;
    align-items : center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 .5rem 0 .5rem;
    font-size: var(--user-list-font-size);
}

.users-list > .big-loader{
    height: 100%;
}



@media screen and (max-width : 300px){
    .users-list{
        --user-list-font-size : 12px
    }
}

