.users-list{
    --user-list-font-size : 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
}
.users-list-container{
    height: inherit;
    overflow: scroll;
    display: flex;
    padding-right: .4rem;
    flex-direction: column;
}

.no-users-msg{
    display: flex;
    align-items : center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 .5rem 0 .5rem;
    font-size: var(--user-list-font-size);
}

.users-list > .big-loader{
    height: 100%;
}

@media screen and (max-width : 1000px){
    .users-list{
        width: 40%;
    }
}


@media screen and (max-width : 300px){
    .users-list{
        --user-list-font-size : 12px
    }
}

