/*
    User photo
*/
.user-photo{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--base-input-font-size);

    display: none;
}

.user-photo__activated{
    display: flex;
}
.user-photo , .big-user-photo{
    border-radius: var(--base-user-photo-border-radius);
    object-fit: cover;
    cursor: pointer;
    outline: 3px inset var(--base-color);
    transition-property: outline;
    transition-duration: .1s;
}
.user-photo:hover ,.big-user-photo:hover{
    outline: 7px inset var(--base-color);
}
.user-photo-main-container{
    margin: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 15vw;
    height: 40vh;
    --base-user-photo-border-radius : 30px;
}
.user-photo-container{
    --size : 70%;
    display: flex;
    justify-content: center;
    align-items : center;
    min-height: var(--size);
    max-height: var(--size);
    width: 100%;
}


/*
    Big User Photo
*/

.big-user-photo{
    margin: auto;
    display: block;
    width: 80%;
    max-height: 60%;
    max-width: 500px;
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    transition-property: opacity  ;
    transition-duration: .2s;

}

.modal-container__activated{
    display: flex;
    justify-content: center;
    align-items : center;
}



/*
    User photo INPUT
*/
.user-photo-input{
    display: none;
}

.user-photo-input-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width : 1000px){
    .user-photo-main-container{
        width: 40vw;
    }
}

@media screen and (max-width : 400px){
    .user-photo-container{
        --size : 50%;
    }
    .user-photo-main-container{
        height: 50vh;
    }
}

/*
    Chat photo
*/
.chat-photo{
    font-size: var(--base-input-font-size);
    width: 10%;
    height: 100%;
}


@media screen and (max-width : 1000px){
    .chat-photo{
        width: 20%;
    }
}











.loading-animation-container{
    display: flex;
    justify-content: center;
    align-items : center;
}

.loading-animation-container > *{
    width: 70%;
    height: auto;
}