.user-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 1.5vh;
    border : none;
    border-bottom : 1px solid var(--base-letter-color);
    cursor : pointer;
    color : var(--base-letter-color);
}

.user-button:hover{
    background-color : var(--base-background-dark-box-color);
}
.user-button__username{
    font-size: var(--user-list-font-size);
}

.user-button-globe{
    background-color : var(--base-color);
    border-radius: 30px;
    width:  8px;
    height: 8px;
    opacity: 0;
}

.user-button-globe__activated{
    margin-left: 10px;
    opacity: 1;
}

