.user-filter-container{
    padding: .2rem .5rem;
    display: flex;
    flex-direction: row;
    align-items : center;
    background-color : var(--base-background-box-color);
    border-top-left-radius : inherit;
    border-top-right-radius : inherit;
}

.users-filter-input{
    font-size: var(--user-list-font-size);
    outline: 0px solid #000 !important;
    background-color : transparent;
    width: 100%;
}

.users-filter-input::placeholder{
    font-size: var(--base-input-font-size) !important;
    text-align: left !important;
}
.loupe{
    display: flex;
    align-items : center;
}
.loupe > *{
    font-size: var(--base-input-font-size) !important;
    color : #000;
}
