.user-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color : var(--base-letter-color);
    margin-left: .5em;
}


.user-button__username{
    font-size: var(--user-list-font-size);
}


.user-button-globe{
    background-color : var(--base-color);
    border-radius: 30px;
    width:  8px;
    height: 8px;
    opacity: 0;
}

.user-button-globe__activated{
    margin-left: 10px;
    opacity: 1;
}



.user-button__selected{
    background-color : var(--base-background-dark-box-color);
}
.user-button-container{
    display: flex;
    align-items : center;
    cursor : pointer;
    padding: 2vh;
}

.user-button-container:hover{
    background-color : var(--base-background-dark-box-color);
}

